body{
    background-color: #62C1E3;
    
}

h1{
    font-family: "doublebass", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #D42A2A;
    font-size: 100;
    margin: 0;
    text-align: center;
}

h2{
    font-family: "doublebass", sans-serif;
    font-weight: 550;
    font-style: normal;
    font-size: 50;
    margin: 0;
    text-align: center;
}

p{
    font-family: "doublebass", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    font-size: 25;
    text-align: center;
}

a{
    font-family: "doublebass", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #D42A2A;
    text-align: center;
}

.center-text {
    text-align: center;
  }

a.center-text {
    display: block;
  }