@font-face {
    font-family: DoubleBass;
    src: url(DoubleBass-Regular-trial.ttf);
}

canvas{
    z-index: -1;
    margin: 0;
}

body{
    background-color: #62C1E3;
    position:fixed;
    bottom:0px;
    width:100%;
    font-family: "doublebass", sans-serif;
    font-weight: 700;
    font-style: normal;
}

h1{
    font-family: "doublebass", sans-serif;
    font-weight: 700;
    font-style: normal;
}

p{
    font-family: "doublebass", sans-serif;
    font-weight: 400;
    font-style: normal;
}

a{
    z-index: 1;
    font-family: "doublebass", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    font-size: 200%;
    justify-content: space-around;
    color: #D42A2A;
}